
@model IEnumerable<BulkyBookWeb.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="text-end mt-4 ">
    <a input="button" class="btn btn-outline-primary" asp-controller="Book" asp-action="Create"><i class="bi bi-patch-plus"></i> Create a New Category</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.PublishedDateTime)
                </td>
                <td>
                    <a class="btn btn-outline-primary mx-2" asp-action="Edit" asp-route-id="@item.Id">><i class="bi bi-pencil"></i> Edit</a>
                    <a class="btn btn-outline-danger mx-2" asp-action="Delete" asp-route-id="@item.Id">><i class="bi bi-trash-fill"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
